body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tabs button {
  padding: 10px;
  border: none;
  background-color: #9e72cc;
  color: #fff;
  cursor: pointer;
  flex: 1;
  margin: 2px;
}

.tabs button:hover {
  /* background-color: #2575fc; */
  background-color: #a255f7;
}

.form,
#home-section,
#quiz-section,
.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #6a11cb;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

button:hover {
  /* background-color: #2575fc; */
  background-color: #a255f7;
}

#options {
  margin-top: 10px;
}

#options div {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #6a11cb;
  border-radius: 5px;
  margin-bottom: 5px;
}

#options div:hover {
  background-color: #e0e0e0;
}

.modal-content {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  background-color: #fff;
  width: 80%;
  max-width: 500px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 20px;
}
.option {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #6a11cb;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #f4f4f4;
}

.option:hover {
  background-color: #e0e0e0;
}

.option.selected {
  background-color: #6a11cb;
  color: #fff;
}

.tabs .active-btn {
  background-color: #6a11cb;
}
.timer {
  font-size: 18px;
  font-weight: bold;
  color: #ff0000;
  margin-bottom: 10px;
}
.tabs .active {
  background-color: #6a11cb;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 4px;
  text-align: left;
  padding-left: 20px;
}

.input-error {
  border-color: red;
}

.tableClass {
  width: 90%;
}
.MainClasstimer {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensure it appears above other elements */
}
